/*------------------------------------------------------------------

Project:    shane-egan.com
Version:	1.0

------------------------------------------------------------------*/

/* Width of containers */

/* Responsive Break Points */

/* Color Palette */

/* Resets */

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body */

body {
  font: 1em/1.5em 'Source Sans Pro', sans-serif;
  color: #555555;
}

/*------------------------------------------------------------------

[Grid - Desktop]

To set the width of a column on desktops do this:

	@extend %grid-*a number*;

You make certain classes not display on desktop by adding:

	@extend %desktop_none;

------------------------------------------------------------------*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

.row {
  padding: 0px 0;
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  float: left;
}

/* Grid widths */

.services .service-box {
  width: 25%;
}

.featured .featured-preview {
  width: 41.66665%;
}

.callout .callout-left,
.callout .callout-right {
  width: 50%;
}

.featured .featured-details {
  width: 58.33333%;
}

/*------------------------------------------------------------------

[Grid - Tablet]

To set the width of a column on tablets do this:

	@extend %tablet_grid-*a number*;

You make certain classes not display on tablet by adding:

	@extend %tablet_none;

------------------------------------------------------------------*/

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .container {
    max-width: 700px;
  }

  /* Column widths for tablet */

  .services .service-box {
    width: 25%;
  }

  .featured .featured-preview {
    width: 41.66665%;
  }

  .callout .callout-left,
  .callout .callout-right {
    width: 50%;
  }

  .featured .featured-details {
    width: 58.33333%;
  }
}

/*------------------------------------------------------------------

[Grid - Mobile]

To set the width of a column on mobiles do this:

	@extend %mobile_grid-*a number*;

or

	@extend %mobile_full;

for a full width column.


You make certain classes not display on mobile by adding:

	@extend %mobile_none;

------------------------------------------------------------------*/

@media only screen and (max-width: 724px) {
  .container {
    max-width: 80%;
  }

  /* Grid widths for mobile */

  .services .service-box,
  .featured .featured-preview,
  .featured .featured-details,
  .callout .callout-left,
  .callout .callout-right {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    display: block;
  }
}

/* Global Page Styles */

h1 {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
  border: 2px solid #3d4c53;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url("/assets/images/mugshot_2.png") no-repeat;
}

.profile-title {
  font-size: 38px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 35px;
}

.profile-blurb {
  font-family: monospace;
  color: #f5f5f5;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 20px;
}

.profile .button {
  margin-top: 40px;
}

.profile p:nth-child(3) {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(60, end) forwards;
          animation: type 2s steps(60, end) forwards;
}

.profile p:nth-child(4) {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(60, end) forwards;
          animation: type 2s steps(60, end) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

span.cursor {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes type {
  to {
    width: 100%;
  }
}

@keyframes type {
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    opacity: .0;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

::-moz-selection {
  background: #000;
}

::selection {
  background: #000;
}

/* Top */

.header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  background: #3d4c53;
}

.header.transform {
  background: #3d4c53;
}

.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .row:before,
.header .container .row:after {
  display: none;
}

/* Menu */

.toggle {
  color: #ffffff;
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
  cursor: pointer;
}

@media only screen and (min-width: 725px) {
  .toggle {
    font-size: 2em;
  }
}

#menu {
  position: relative;
  background-color: #252525;
  padding: 20px;
}

#menu ul {
  padding: 0;
  list-style-type: none;
}

#menu .login {
  position: absolute;
  bottom: 15px;
}

#menu .login li a {
  border-bottom: none !important;
}

#menu i {
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #1d1d1d;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
}

.panel {
  position: fixed;
  right: -250px;
  /*left or right and the width of your navigation panel*/
  width: 250px;
  /*should match the above value*/
}

/* Logo */

.logo {
  max-width: 223px;
}

/* Social icons */

.social-icons {
  list-style-type: none;
}

@media only screen and (max-width: 724px) {
  .social-icons {
    display: none;
  }
}

.social-icons li:first-child {
  margin-left: 0;
}

.social-icons li {
  width: 33px;
  height: 33px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-icons li a {
  color: #000000;
}

/* Hero Banner */

.hero {
  width: 100%;
  text-align: center;
  height: 799px;
  background: #70b7b9;
}

.hero h1 {
  color: #fff;
}

.hero .inner {
  margin: 75px auto 0 auto;
  display: inline-block;
  padding: 120px 0 0 0;
}

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: default;
}

.ch-info-wrap,
.ch-info {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: #f9f9f9 url("/assets/images/bg.jpg");
  -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
          box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
  -webkit-perspective: 800px;
          perspective: 800px;
}

.ch-info {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  z-index: 100;
  -webkit-box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.ch-info .ch-info-back {
  background: rgba(230, 132, 107, 0);
}

.ch-img-1 {
  background-image: url("/assets/images/mugshot_2.png");
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 25px;
  padding: 40px 0 0 0;
  height: 90px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ch-info p a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: rgba(255, 242, 34, 0.8);
}

.ch-item:hover .ch-info-front {
  -webkit-transform: rotate3d(1, 0, 0, -180deg);
          transform: rotate3d(1, 0, 0, -180deg);
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.ch-item:hover .ch-info-back {
  background: rgba(230, 132, 107, 0.6);
}

/* Services */

.services {
  padding: 90px 0;
  background-color: #ffffff;
}

.services h2 {
  color: #000000;
  padding-bottom: 0;
}

.services .underline {
  width: 55px;
  line-height: 18px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #3d4c53;
}

.services .service-box {
  position: relative;
  height: 241px;
  padding: 37px 20px;
  text-align: center;
  margin-top: 90px;
  background-color: #ebebeb;
  border-radius: 3px;
}

.services .service-box p {
  line-height: 17px !important;
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .services .service-box {
    height: 281px;
  }

  .services .service-box .break {
    display: block;
  }
}

.services .service-box .fa-paint-brush {
  color: #70b7b9;
  font-size: 48px;
}

.services .service-box .fa-mobile {
  color: #f14440;
  font-size: 48px;
}

.services .service-box .fa-folder-open {
  color: #3d4c53;
  font-size: 48px;
}

.services .service-box h3 {
  padding: 25px 0;
}

.services .service-box p {
  font-size: 14px;
  color: #555555;
  line-height: 16px;
}

.services .service-box .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radiusradius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.services .service-box .design.highlight {
  background-color: #70b7b9;
}

.services .service-box .development.highlight {
  background-color: #f14440;
}

.services .service-box .cms.highlight {
  background-color: #3d4c53;
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .services .service-box:not(:nth-of-type(1)) {
    margin-left: 87px;
  }
}

@media only screen and (min-width: 940px) {
  .services .service-box {
    width: 264px;
  }

  .services .service-box:not(:nth-of-type(1)) {
    margin-left: 74px;
  }
}

/* Featured Project */

.featured {
  padding: 90px 0;
  background: url("/assets/images/featured_bg.jpg") no-repeat;
  background-size: cover;
}

.featured .underline {
  width: 100px;
  line-height: 18px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #f14440;
}

.featured .featured-preview {
  text-align: center;
}

.featured .featured-preview img {
  max-width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 725px) {
  .featured .featured-details {
    padding-left: 100px;
  }
}

.featured .featured-details h3 {
  color: #ffffff;
  text-align: left;
  margin: 60px 0 40px 0;
}

@media only screen and (min-width: 725px) {
  .featured .featured-details h3 {
    margin: 0 0 40px 0;
  }
}

.featured .featured-details p {
  color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}

.featured .featured-buttons {
  float: left;
  margin-top: 40px;
}

@media only screen and (min-width: 940px) {
  .featured .featured-buttons {
    float: right;
  }
}

.featured .featured-buttons .button:not(:nth-of-type(1)) {
  margin-left: 20px;
}

/* Services */

/* Callout */

.callout {
  padding: 90px 0;
}

.callout .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 725px) {
  .callout .container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.callout .callout-left p {
  font-size: 26px;
  font-weight: bold;
  color: #252525;
  line-height: 30px;
}

@media only screen and (max-width: 725px) {
  .callout .callout-left p {
    text-align: center;
  }
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .callout .callout-left p {
    font-size: 21px;
  }
}

.callout .callout-right {
  text-align: center;
}

.callout .callout-right .button {
  float: right;
}

@media only screen and (max-width: 725px) {
  .callout .callout-right .button {
    float: none;
    display: inline-block;
    margin-top: 40px;
  }
}

.testimonials {
  padding: 90px 0;
  background: url("/assets/images/testimonials_bg.jpg") no-repeat;
  background-size: cover;
}

.testimonials .underline {
  width: 80px;
  line-height: 18px;
  padding-bottom: 16px;
  display: inline-block;
  border-bottom: 3px solid #70b7b9;
}

.testimonials .testimonial-body,
.testimonials .testimonial-author {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
}

@media only screen and (min-width: 940px) {
  .testimonials .testimonial-body,
  .testimonials .testimonial-author {
    padding: 0 15%;
  }
}

.testimonials .testimonial-author {
  margin-top: 40px;
  font-style: italic;
}

/* Footer */

.footer {
  width: 100%;
  padding: 60px 0;
  background-color: #f5f5f5;
}

.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 724px) {
  .footer .container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .container .row:before,
.footer .container .row:after {
  display: none;
}

.footer p {
  font-size: 18px;
  color: #252525;
}

@media only screen and (max-width: 724px) {
  .footer p {
    display: none;
  }
}

@media only screen and (max-width: 724px) {
  .footer .logo {
    display: none;
  }

  .footer .social-icons {
    display: block;
  }
}

.footer .social-icons li a {
  color: #ffffff;
}

.footer .social-icons li:nth-of-type(1) {
  background-color: #f14440;
}

.footer .social-icons li:nth-of-type(2) {
  background-color: #70b7b9;
}

.footer .social-icons li:nth-of-type(3) {
  background-color: #3d4c53;
}

/* Buttons */

.button {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.button.extra-light {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=0.9);
}

.button.primary {
  color: #ffffff;
  background-color: #70b7b9;
}

.button.secondary {
  color: #ffffff;
  background-color: #f14440;
}

.button.tertiary {
  color: #ffffff;
  background-color: #3d4c53;
}

.button.small {
  width: 133px;
  padding: 10px 0;
  font-size: 14px;
}

@media only screen and (min-width: 940px) {
  .button.small {
    width: 153px;
  }
}

.button.medium {
  width: 172px;
  padding: 20px 0;
  font-size: 16px;
}

.button.large {
  width: 200px;
  padding: 20px 0;
  font-size: 18px;
}

/* Headings */

h1 {
  font-size: 32px;
}

h2 {
  padding-bottom: 90px;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  text-align: center;
}

/* Colours */

.highlight-primary {
  font-weight: bold !important;
  color: #70b7b9 !important;
}

.highlight-secondary {
  font-weight: bold !important;
  color: #f14440 !important;
}

.highlight-tertiary {
  font-weight: bold !important;
  color: #3d4c53 !important;
}

