/*------------------------------------------------------------------

Project:    shane-egan.com
Version:	1.0

------------------------------------------------------------------*/

/* Width of containers */

/* Responsive Break Points */

/* Color Palette */

/* Fonts */

@font-face {
  font-family: BentonRegular;
  src: url("/assets/fonts/BentonSans_Regular.otf");
}

@font-face {
  font-family: BentonMedium;
  src: url("/assets/fonts/BentonSans_Medium.otf");
}

@font-face {
  font-family: BentonBold;
  src: url("/assets/fonts/BentonSans_Bold.otf");
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "BentonRegular";
  color: #555555;
}

/*------------------------------------------------------------------

[Grid - Desktop]

To set the width of a column on desktops do this:

	@extend %grid-*a number*;

You make certain classes not display on desktop by adding:

	@extend %desktop_none;

------------------------------------------------------------------*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

.row {
  padding: 0px 0;
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  float: left;
}

/* Grid widths */

.services .service-box {
  width: 25%;
}

.featured .featured-preview {
  width: 41.66665%;
}

.callout .callout-left,
.callout .callout-right {
  width: 50%;
}

.featured .featured-details {
  width: 58.33333%;
}

/*------------------------------------------------------------------

[Grid - Tablet]

To set the width of a column on tablets do this:

	@extend %tablet_grid-*a number*;

You make certain classes not display on tablet by adding:

	@extend %tablet_none;

------------------------------------------------------------------*/

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .container {
    max-width: 700px;
  }

  /* Column widths for tablet */

  .services .service-box {
    width: 25%;
  }

  .featured .featured-preview {
    width: 41.66665%;
  }

  .callout .callout-left,
  .callout .callout-right {
    width: 50%;
  }

  .featured .featured-details {
    width: 58.33333%;
  }
}

/*------------------------------------------------------------------

[Grid - Mobile]

To set the width of a column on mobiles do this:

	@extend %mobile_grid-*a number*;

or

	@extend %mobile_full;

for a full width column.


You make certain classes not display on mobile by adding:

	@extend %mobile_none;

------------------------------------------------------------------*/

@media only screen and (max-width: 724px) {
  .container {
    max-width: 80%;
  }

  /* Grid widths for mobile */

  .services .service-box,
  .featured .featured-preview,
  .featured .featured-details,
  .callout .callout-left,
  .callout .callout-right {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    display: block;
  }
}

/* Global Page Styles */

h1 {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

/* Top */

.header {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  background: #3d4c53;
}

.header.transform {
  background: #3d4c53;
}

.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .row:before,
.header .container .row:after {
  display: none;
}

/* Menu */

.toggle {
  color: #ffffff;
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
  cursor: pointer;
}

@media only screen and (min-width: 725px) {
  .toggle {
    font-size: 2em;
  }
}

.toggle:hover,
.toggle.active,
.toggle.active:hover,
.toggle.focus {
  color: #ffffff;
}

#menu {
  position: relative;
  background-color: #252525;
  padding: 20px;
}

#menu ul {
  padding: 0;
  list-style-type: none;
}

#menu .login {
  position: absolute;
  bottom: 15px;
}

#menu .login li a {
  border-bottom: none !important;
}

#menu i {
  margin-right: 10px;
}

#menu ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #1d1d1d;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
}

.panel {
  position: fixed;
  right: -250px;
  /*left or right and the width of your navigation panel*/
  width: 250px;
  /*should match the above value*/
}

/* Logo */

.logo {
  max-width: 223px;
}

/* Social icons */

.social-icons {
  list-style-type: none;
}

@media only screen and (max-width: 724px) {
  .social-icons {
    display: none;
  }
}

.social-icons li:first-child {
  margin-left: 0;
}

.social-icons li {
  width: 33px;
  height: 33px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-icons li a {
  color: #000000;
}

/* Flip Container */

/* entire container, keeps perspective */

.flip-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* flip speed goes here */

.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
  text-align: left;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.back .featured-title h3 {
  text-align: left;
  font-size: 24px;
  color: #ffffff;
}

.back .featured-meta {
  margin: 30px 0;
}

.back .featured-meta h4 {
  text-align: left;
  font-size: 16px;
  color: #f5f5f5;
}

.back .featured-meta ul {
  margin-top: 15px;
  list-style-type: none;
}

.back .featured-meta li {
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
}

.back .featured-meta .label-design {
  background-color: #70b7b9;
}

.back .featured-meta .label-development {
  background-color: #f14440;
}

.back .featured-meta .label-cms {
  background-color: #3d4c53;
}

.back .featured-body {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 25px;
}

/* Hero Banner */

.hero {
  position: relative;
  width: 100%;
  text-align: center;
  height: 860px;
  background: #70b7b9;
}

.hero h1 {
  color: #fff;
}

.hero .inner {
  margin: 75px auto 0 auto;
  display: inline-block;
  padding: 120px 0 0 0;
}

@media only screen and (min-width: 725px) {
  .hero {
    font-size: 38px;
    height: 820px;
  }
}

@media only screen and (min-width: 940px) {
  .hero {
    height: 800px;
  }
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
  border: 2px solid #3d4c53;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url("/assets/images/mugshot_2.png") no-repeat;
}

.profile-title {
  font-size: 32px;
  font-family: "BentonBold";
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 35px;
  margin-bottom: 35px;
}

@media only screen and (min-width: 725px) {
  .profile-title {
    font-size: 38px;
  }
}

.profile-blurb {
  font-family: "BentonRegular";
  color: #f5f5f5;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 40px;
  margin-bottom: 25px;
  padding: 0 0;
}

@media only screen and (min-width: 725px) {
  .profile-blurb {
    padding: 0 5px;
    font-size: 26px;
    margin: 40px 0;
    line-height: 50px;
  }
}

@media only screen and (min-width: 940px) {
  .profile-blurb {
    margin: 40px 0;
  }
}

.profile .button {
  margin: 15px 0;
  font-family: "BentonBold";
}

/* Services */

.services {
  position: relative;
  width: 100%;
  min-height: 548px;
  padding: 90px 0;
  background-color: #ffffff;
}

.services h2 {
  color: #000000;
  font-family: "BentonBold";
  padding-bottom: 0;
}

.services .underline {
  width: 55px;
  line-height: 18px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #3d4c53;
}

.services .service-box {
  position: relative;
  height: 241px;
  padding: 37px 20px;
  text-align: center;
  margin-top: 90px;
  background-color: #ebebeb;
  border-radius: 3px;
}

.services .service-box p {
  line-height: 17px !important;
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .services .service-box {
    height: 281px;
  }

  .services .service-box .break {
    display: block;
  }
}

.services .service-box .fa-paint-brush {
  color: #70b7b9;
  font-size: 48px;
}

@media only screen and (min-width: 725px) {
  .services .service-box .fa-paint-brush {
    font-size: 38px;
  }
}

.services .service-box .fa-mobile {
  color: #f14440;
  font-size: 48px;
}

@media only screen and (min-width: 725px) {
  .services .service-box .fa-mobile {
    font-size: 38px;
  }
}

.services .service-box .fa-folder-open {
  color: #3d4c53;
  font-size: 48px;
}

@media only screen and (min-width: 725px) {
  .services .service-box .fa-folder-open {
    font-size: 38px;
  }
}

.services .service-box h3 {
  margin: 20px 0;
}

@media only screen and (min-width: 725px) {
  .services .service-box h3 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 940px) {
  .services .service-box h3 {
    font-size: 18px;
  }
}

.services .service-box p {
  font-size: 14px;
  color: #555555;
  line-height: 16px;
}

@media only screen and (min-width: 725px) {
  .services .service-box p {
    font-size: 14px;
  }
}

.services .service-box .highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radiusradius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.services .service-box .design.highlight {
  background-color: #70b7b9;
}

.services .service-box .development.highlight {
  background-color: #f14440;
}

.services .service-box .cms.highlight {
  background-color: #3d4c53;
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .services .service-box:not(:nth-of-type(1)) {
    margin-left: 87px;
  }
}

@media only screen and (min-width: 940px) {
  .services .service-box {
    width: 264px;
  }

  .services .service-box:not(:nth-of-type(1)) {
    margin-left: 74px;
  }
}

/* Featured Project */

.featured {
  position: relative;
  width: 100%;
  height: 1050px;
  padding: 90px 0;
  background: url("/assets/images/featured_bg.jpg") no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 725px) {
  .featured {
    height: 640px;
  }
}

.featured .underline {
  width: 100px;
  line-height: 18px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid #f14440;
}

.featured .featured-preview {
  text-align: center;
}

.featured .featured-preview img {
  max-width: 100%;
  display: inline-block;
}

.featured .featured-details h3 {
  font-family: "BentonMedium";
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin: 60px 0 40px 0;
}

@media only screen and (min-width: 725px) {
  .featured .featured-details h3 {
    margin: 0 0 40px 0;
  }
}

.featured .featured-details p {
  color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
}

@media only screen and (min-width: 725px) {
  .featured .featured-details {
    padding-left: 80px;
  }
}

.featured .featured-buttons {
  float: left;
  font-family: "BentonMedium";
  font-size: 14px;
  margin-top: 40px;
}

@media only screen and (min-width: 940px) {
  .featured .featured-buttons {
    float: right;
  }
}

.featured .featured-buttons .button:not(:nth-child(1)) {
  margin-left: 20px;
}

.featured .featured-buttons .button {
  cursor: pointer;
}

.featured .close-details {
  position: absolute;
  top: -220px !important;
  right: 0 !important;
  cursor: pointer !important;
}

.featured .close-details i {
  font-size: 24px;
  color: #ffffff;
  z-index: 9999;
}

.controls {
  position: absolute;
  top: -55px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 725px) {
  .controls {
    top: 340px;
  }
}

.gallery .control-operator:target ~ .controls .control-button {
  font-size: 40px !important;
}

/* Services */

/* Callout */

.callout {
  position: relative;
  width: 100%;
  height: 340px;
  padding: 90px 0;
}

@media only screen and (min-width: 725px) {
  .callout {
    height: 224px;
  }
}

.callout .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 725px) {
  .callout .container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.callout .callout-left p {
  font-family: "BentonMedium";
  font-size: 26px;
  font-weight: bold;
  color: #252525;
  line-height: 30px;
}

@media only screen and (max-width: 725px) {
  .callout .callout-left p {
    text-align: center;
  }
}

@media only screen and (min-width: 725px) and (max-width: 940px) {
  .callout .callout-left p {
    font-size: 23px;
  }
}

.callout .callout-right {
  text-align: center;
}

.callout .callout-right .button {
  float: right;
  font-family: "BentonMedium";
}

@media only screen and (max-width: 725px) {
  .callout .callout-right .button {
    float: none;
    display: inline-block;
    margin-top: 40px;
  }
}

.testimonials {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 90px 0;
  background: url("/assets/images/testimonials_bg.jpg") no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 725px) {
  .testimonials {
    height: 500px;
  }
}

.testimonials .underline {
  width: 80px;
  line-height: 18px;
  padding-bottom: 16px;
  display: inline-block;
  border-bottom: 3px solid #70b7b9;
}

.testimonials .testimonial-body,
.testimonials .testimonial-author {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
}

@media only screen and (min-width: 940px) {
  .testimonials .testimonial-body,
  .testimonials .testimonial-author {
    padding: 0 15%;
  }
}

.testimonials .testimonial-author {
  margin-top: 40px;
  font-style: italic;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 153px;
  padding: 60px 0;
  background-color: #f5f5f5;
}

.footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 724px) {
  .footer .container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .container .row:before,
.footer .container .row:after {
  display: none;
}

.footer p {
  font-size: 18px;
  color: #252525;
}

@media only screen and (max-width: 724px) {
  .footer p {
    display: none;
  }
}

@media only screen and (max-width: 724px) {
  .footer .logo {
    display: none;
  }

  .footer .social-icons {
    display: block;
  }
}

.footer .social-icons li a {
  color: #ffffff;
}

.footer .social-icons li:nth-of-type(1) {
  background-color: #f14440;
}

.footer .social-icons li:nth-of-type(2) {
  background-color: #70b7b9;
}

.footer .social-icons li:nth-of-type(3) {
  background-color: #3d4c53;
}

/* Buttons */

.button {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px !important;
}

.button.extra-light {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=0.9);
}

.button.primary {
  color: #ffffff;
  background-color: #70b7b9;
}

.button.secondary {
  color: #ffffff;
  background-color: #f14440;
}

.button.tertiary {
  color: #ffffff;
  background-color: #3d4c53;
}

.button.small {
  width: 133px;
  padding: 10px 0;
  font-size: 14px;
}

@media only screen and (min-width: 940px) {
  .button.small {
    width: 153px;
  }
}

.button.medium {
  width: 172px;
  padding: 20px 0;
  font-size: 16px;
}

.button.large {
  width: 200px;
  padding: 20px 0;
  font-size: 18px;
}

/* Headings */

h1 {
  font-size: 32px;
}

h2 {
  padding-bottom: 90px;
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: #252525;
  font-family: "BentonBold";
  text-align: center;
}

/* Links */

a:hover {
  text-decoration: none;
}

/* Colours */

.highlight-primary {
  font-weight: bold !important;
  color: #70b7b9 !important;
}

.highlight-secondary {
  font-weight: bold !important;
  color: #f14440 !important;
}

.highlight-tertiary {
  font-weight: bold !important;
  color: #3d4c53 !important;
}

